body{
    color: rgb(11, 16, 255);    
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    
    text-align: center;
    margin: 0 auto;
    border: 1px coral solid;
}

#cabecera{
    background-color: palevioletred;
    color: papayawhip;
    margin-top: 0;
    text-align: left;
    padding-top: 0;
    
}